.cell {
  width: 20%;
  border: 2px solid white;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 17%;
}

.board {
  width: 50vw;
  height: 50vh;
}

.main {
  display: flex;
  justify-content: center;
}